body {
	background-color: white;
	font-family: sans-serif;
}
h1 {
	font-weight: normal;
	font-size: 140%;
}
#svg {
	float: left;
	margin: 4% 24%;
	height: 90%;
	width: 52%;
	position: fixed;
}
.blocklySvg {
	border: 1px solid black;
}
