body {
	background-color: white;
	font-family: sans-serif;
}
h1 {
	font-weight: normal;
	font-size: 140%;
}
#svg {
	float: left;
	margin: 0 22.6%;
	height: 90%;
	width: 55%;
}
.blocklySvg {
	border: 1px solid black;
}
#code_area {
	display: none;
	float: left;
	width: 22%; 
	height: 12em;
}
