html {
	width: 100% !important;
	height: 100 !important;
	clip: auto;
	position: absolute;
	overflow: hidden;
	background: url(../images/bg.png) repeat;
}

body {
	background: url(../images/bg.png) repeat;
}

textarea { 
	width: 200px; 
	min-width:200px; 
	max-height:200px; 

	height: 200px; 
	min-height: 200px;  
	max-height: 200px;
}

.full-area {
	width: 96%;
	height: 100%;
}

#menu_navbar {
	width: 8% !important;
}

#menu_navbar .navbar-inner {
	position: relative !important;
	width: 100% !important;
	text-align: center;
	height:100%;
}

.navbar .nav {
	height: 100% !important;
	width: 100% !important; 
	float: left !important;
	display: inline-block !important;
	vertical-align: top;
}

.navbar .nav > li {
	float: none !important;
	margin: 0 auto;
}

.navbar .brand {
	float: right !important;
	display: inline-block !important;
	left: 10% !important;
	position: relative;
	font-weight: bold;
	color: #000;
	text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
	margin: 1%;
}

.navbar .btn {
	margin: 10%;
}

.bx {
	position: fixed;
	border: 1px solid #555555;
	border-radius: 12px;
	top: 2%;
	right: 2%;
	background-image: url(../images/bg2.png);
}

.cursorHover:hover{
	cursor: pointer;	
}

.controlBtn {
	margin-top: 8%;
	margin-right: 2%;
}

.image-container {
	width: 145px;
	height: 38px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

.image-inner-container {
    position: absolute;
}

.overlay {
    position: absolute;
    text-align: left;
    width: 100%;
    margin: 12px 20px;
}

#divResults {
	background-image: url(../images/bg2.png);
	border: 1px solid #555555;
	border-radius: 12px;
	color: #333333;
	font-size: 100%;
	height: 13%;
	position: fixed;
	right: 2%;
	text-align: center;
	width: 145px;
	bottom:2%;
}

#divResults span {
	position: relative;
    top: 15.5%;
    vertical-align: text-top;
	font-size: 97%;
}

#spnResSensor {
	margin-right: 2.2%;
}

.btnCloseDialog {
	position:absolute;
	top:1px;
	right:4px;
}

.leftBar {
	width:100% !important;
	height:100% !important;	
	margin-left:0% !important;
}

.brand {
	display:none !important;
}

.linkWrapper {
	margin: -12px -14px;
}

.modal-body { 
	min-height: 200px !important;
}
