html {
	width: 100% !important;
	height: 100 !important;
	clip: auto;
	position: absolute;
	overflow: hidden;
	background: url(../images/bg.png) repeat;
}

body {
	background: url(../images/bg.png) repeat;
}

textarea { 
	width: 200px; 
	min-width:200px; 
	max-height:200px; 

	height: 200px; 
	min-height: 200px;  
	max-height: 200px;
}

.full-area {
	width: 96%;
	height: 100%;
}

#menu_navbar {
	width: 8% !important;
}

#menu_navbar .navbar-inner {
	position: relative !important;
	width: 100% !important;
	text-align: center;
	height:100%;
}

.navbar .nav {
	height: 100% !important;
	width: 100% !important; 
	float: left !important;
	display: inline-block !important;
	vertical-align: top;
}

.navbar .nav > li {
    cursor: pointer;
}

.navbar .brand {
	float: right !important;
	display: inline-block !important;
	left: 10% !important;
	position: relative;
	font-weight: bold;
	color: #000;
	text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
	margin: 1%;
}

#behaviours_popup {
	position: fixed;
/*	border: 1px solid #555555;*/
/*	border-radius: 12px;*/
/*	box-shadow: 5px 5px 5px #888888;*/
	z-index: 1;
	top: 2%;
	right: 6%;
	width: 125px;
}

.cursorHover:hover{
	cursor: pointer;	
}

.controlBtn {
	margin-top: 8%;
	margin-right: 2%;
}

.image-container {
	width: 145px;
	height: 38px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

.image-inner-container {
    position: absolute;
}

.overlay {
	position: absolute;
	text-align: left;
	color: rgb(0,0,0) !important;
	width: 100%;
	margin: 12px 20px;
}

#results_popup {
	position: fixed;
	z-index: 1;
	bottom: 4%;
	right: 20%;
	width: 50%;
	text-align: center;
}

#results_popup p {
	display: inline;
}

.close_results {
	position:absolute;
	top:1px;
	right:4px;
}

.leftBar {
	width:100% !important;
	height:100% !important;	
	margin-left:0% !important;
}

.brand {
	display:none !important;
}

.linkWrapper {
	margin: -12px -14px;
}

.modal-body { 
	min-height: 200px !important;
}

#delete_modal h4 {
	text-align: center !important;
}

#delete_modal .modal-body {
	text-align: center !important;
}
