html {
	width: 100% !important;
	height: 100% !important;
	clip: auto;
	position: absolute;
	overflow: hidden;
}

body {
	background: url(../images/bg.png) repeat;
}

textarea { 
	width: 200px; 
	min-width:200px; 
	max-height:200px; 

	height: 200px; 
	min-height: 200px;  
	max-height: 200px;
}

.full-area {
	width: 96%;
	height: 100%;
}

/* Bootstrap modification */
.navbar .nav,
.navbar .nav > li {
	float: left !important;
	display: inline-block !important;
	left: 28% !important;
	vertical-align: top;
}

.navbar-inner {
	text-align: center;
}

header >.navbar .brand {
	float: right !important;
	display: inline-block !important;
	left: 10% !important;
	position: relative;
	font-weight: bold;
	color: #000;
	text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
	margin: 1%;
}

header > .navbar .btn {
	margin: 10%;
}

.bx {
	position: fixed;
	top: 9%;
	right: 16%;
	background-image: url(../images/bg2.png);
}

.cursorHover:hover{
	cursor: pointer;	
}

.controlBtn {
	margin-top: 8%;
	margin-right: 2%;
}

.image-container {
    width: 180px;
    height: 40px;
    overflow: hidden;
    position: relative;
	cursor: pointer;
}

.image-inner-container {
    position: absolute;
}

.overlay {
    position: absolute;
    text-align: left;
    width: 100%;
    margin: 12px 20px;
}
#divResults
{
   background-color: #CCCCCC;
    border: 1px solid #555555;
    border-radius: 12px;
    color: #333333;
    float: left;
    font-size: 100%;
    height: 4.5%;
    margin-left: 25%;
    margin-top: 2px;
    text-align: center;
    width: 47.3%;
	position: absolute;
	bottom:5px;
}
#divResults span
{
	position: relative;
    top: 5%;
    vertical-align: text-top;
	font-size: 97%;
}

#spnResSensor
{
	margin-right: 2.2%;
}

.btnCloseDialog
{
	position:absolute;
	top:1px;
	right:4px;
}
