html {
	width: 100% !important;
	height: 100% !important;
	clip: auto;
	position: absolute;
	overflow: hidden;
}

body {
	background: url(../images/bg2.jpg) repeat;
	font-family: sans-serif;
}
h1 {
	font-weight: normal;
	font-size: 140%;
}
#svg {
	float: left;
	margin: 4% 24%;
	height: 90%;
	width: 52%;
}
.blocklySvg {
	border: 1px solid black;
}